.eyecatch_wrapper {
  width: 100%;
  min-height: 200px;
  background-color: var(--color-background-thin);
  margin-bottom: var(--spacing-12);
  display: flex;
  align-items: center;
  justify-content: center;
}