img {
  object-fit: fill;
  width: 100%;
}

.wrapper {
  border-top: 1px solid #EDEDED;
  padding: var(--spacing-4) var(--spacing-0);
  transition: .3s;
  &:hover{
    background-color: var(--color-background-thin);
    transition: .3s;
    cursor: pointer;
  }
}

.link {
  display: flex;
  flex-wrap: nowrap;
}

.thumbnail{
  width: 120px;
  height: 120px;
  background-color: var(--color-background-thin);
  // margin-right: var(--spacing-4);
}

.thumbnailIcon{
  position: relative;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.titleStyle {
  margin-top:0;
  margin-bottom:var(--spacing-2);
}

.date {
  color: var(--color-text);
  margin-bottom:var(--spacing-2);
}

@media (max-width: 42rem) {
  h3 {
    font-size: var(--fontSize-2);
  }
  .thumbnail{
    width: 40px;
    height: 40px;
  }
}