.wrapper {
  border-top: 1px solid #EDEDED;
  padding: var(--spacing-4) var(--spacing-0);
  transition: .3s;
  &:hover{
    background-color: #eeeeee;
    transition: .3s;
    cursor: pointer;
  }
}

.titleStyle {
  margin-top:0;
  margin-bottom:var(--spacing-2);
}

.date {
  color: var(--color-text);
  margin-bottom:var(--spacing-2);
}